* {
  background-color: black;
  color: seashell;
  /* border: 1px solid red; */
}

body {
  display: flex;
  flex-direction: column;
}

header {
  height: 69px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  border-bottom: 1px solid seashell;
  z-index: 1;
}

header .logo {
  height: 50px;
  position: relative;
  left: 10px;
  top: 10px;
}

header .navbar li {
  display: inline-flex;
  margin-right: 10px;
  cursor: pointer;
  transition: opacity 0.15s;
}

header .navbar li:hover {
  opacity: 0.8;
}

h2 {
  font-size: 30px;
}

figure {
  padding: 0;
  margin: 0;
}

.mission {
  margin-top: 69px;
  display: flex;
  flex-direction: row;
  position: relative;
  background-image: url("../images/img-mission-background.jpg");
  background-position: center;
  flex-basis: 1200px;
  height: 700px;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
}

.mission .text {
  width: 1200px;
  height: 120px;
  align-items: center;
}

/* <!-- Tea of the Month section --> */

.tea-container {
  text-align: center;
  margin: 25px auto;
  width: 1000px;
}

.images {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 1000px;
}

.images > figure {
  flex-grow: 1fr;
  flex-shrink: 1;
  flex-basis: 300px;

  padding: 0;
  margin: 0;
}

.images > figure > img {
  width: 100%;
  height: auto;
}

.row1 {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.row2 {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.row1 .image,
.row2 .image {
  flex-basis: 300px;
  height: 200px;
}

/* <!-- Locations section --> */

.locations-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 1200px;
  height: 500px;
  /* border: 1px solid red; */
  background-image: url("../images/img-locations-background.jpg");
  background-repeat: no-repeat;
}

.locations {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
  margin: auto auto;
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: 0 40px;
}

#locations-title {
  position: relative;
  background-color: transparent;
  top: 45px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
  line-height: 0.5em;
  height: 200px;
  margin-top: 15px;
}

.copyright {
  width: 100%;
  text-align: left;
}
